.debug {
  border: 1px dashed red;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  height: 100vh;
}

#page-content-wrapper {
  min-width: 100vw;
}

#sidebar-wrapper.sidebar-opened {
  margin-left: 0;
}

#sidebar-wrapper.sidebar-closed {
	margin-left: -16.9rem;
}

.pro-sidebar.md {
	left: 0;
	position: relative;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.sidebar-opened #sidebar-wrapper {
    margin-left: -15rem;
  }
}
/* .deliveriesTbl{
  th{
    vertical-align: middle;
    &:not(:first-child){
      min-width: 158px;
    }
    span{
      display: block;
      border-bottom: 1px solid #ddd;
    }
  }
}
 */